# --- Core do Servidor Web ---
Flask
flask-cors
gunicorn

# --- Conexão com Banco de Dados ---
psycopg2-binary

# --- Utilitários e Lógica ---
requests
python-dotenv
numpy

# --- Testes Automatizados ---
pytest
pytest-pspec